@import url("font-awesome.min.css");
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

#wrapper {
  overflow: hidden; }
  #wrapper.show-menu #header {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #wrapper.show-menu #main {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0); }
  #wrapper.show-feedback {
    -webkit-perspective: 500px;
    perspective: 500px; }
    #wrapper.show-feedback #feedbackModal {
      display: block; }
    #wrapper.show-feedback .modal-background {
      display: block; }
    #wrapper.show-feedback #main,
    #wrapper.show-feedback .modal-background {
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-animation: open-modal-top 0.5s forwards ease-in;
              animation: open-modal-top 0.5s forwards ease-in; }
  #wrapper #header {
    position: fixed;
    z-index: 1001;
    width: 300px;
    top: 0;
    bottom: 0;
    font-size: 1.15em;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
    #wrapper #header .menu {
      background: #373a47;
      width: calc(100% - 120px);
      height: 100%;
      padding: 2em 1em; }
      #wrapper #header .menu .icon-list {
        width: 280px; }
        #wrapper #header .menu .icon-list a {
          outline: none;
          display: block;
          padding: 0.8em;
          font-size: 1.2em;
          color: #006962; }
          #wrapper #header .menu .icon-list a:hover {
            text-decoration: none; }
            #wrapper #header .menu .icon-list a:hover i {
              color: #ffae1a; }
          #wrapper #header .menu .icon-list a.active i {
            color: #ffae1a; }
          #wrapper #header .menu .icon-list a span {
            margin-left: 10px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 0.75em; }
    #wrapper #header .morph-shape {
      position: absolute;
      width: 120px;
      height: 100%;
      top: 0;
      right: 0;
      fill: #373a47;
      z-index: 1000; }
    #wrapper #header .close-button {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 1em;
      top: 1em;
      overflow: hidden;
      text-indent: 16px;
      border: none;
      z-index: 1001;
      background: transparent;
      color: transparent; }
      #wrapper #header .close-button:before, #wrapper #header .close-button:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #95a5a6; }
      #wrapper #header .close-button:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
      #wrapper #header .close-button:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  #wrapper .menu-button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent; }
    #wrapper .menu-button:before {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      bottom: 0.5em;
      left: 0.5em;
      background: -webkit-linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
      background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
      content: ''; }
      #wrapper .menu-button:before:hover {
        opacity: 0.6; }
  #wrapper #dots-canvas {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
  #wrapper #main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
    #wrapper #main ul {
      list-style-type: none;
      padding: 0; }
    #wrapper #main #about {
      padding: 50px 15px; }
      #wrapper #main #about img {
        z-index: 100; }
      #wrapper #main #about .row div:first-child {
        margin-bottom: 60px; }
      #wrapper #main #about .navigation {
        position: absolute;
        display: inline-block;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        right: -5px;
        top: 140px;
        z-index: 2000; }
        #wrapper #main #about .navigation .trigger {
          background: none;
          width: 80px;
          height: 80px;
          padding: 0;
          margin: 0;
          border: none;
          outline: none;
          text-align: center;
          font-size: 1.5em;
          color: #333333;
          position: relative;
          z-index: 2000;
          -webkit-tap-highlight-color: transparent; }
          #wrapper #main #about .navigation .trigger span {
            opacity: 0;
            position: absolute; }
        #wrapper #main #about .navigation .navigation__items {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          padding: 0;
          margin: 0;
          list-style-type: none;
          text-align: center; }
          #wrapper #main #about .navigation .navigation__items li {
            width: 60%;
            height: 60%;
            top: 10%;
            left: 10%;
            line-height: 48px;
            font-size: 2em;
            position: absolute;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transform: scale3d(0.5, 0.5, 1);
            -ms-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
            -webkit-transition: -webkit-transform 0.25s ease-out;
            transition: transform 0.25s ease-out; }
            #wrapper #main #about .navigation .navigation__items li a {
              display: block;
              background: #333333;
              color: #006962;
              border-radius: 50%;
              outline: none;
              overflow: hidden;
              -webkit-tap-highlight-color: transparent; }
              #wrapper #main #about .navigation .navigation__items li a:hover, #wrapper #main #about .navigation .navigation__items li a:focus {
                background: #333333;
                color: #00b5aa; }
              #wrapper #main #about .navigation .navigation__items li a span {
                position: absolute;
                color: transparent;
                top: 100%;
                pointer-events: none; }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:first-child {
          -webkit-transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0);
          transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(2) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(0, 160px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(0, 160px, 0);
          transform: scale3d(1, 1, 1) translate3d(0, 160px, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(3) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0);
          transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(4) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(160px, 0, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(160px, 0, 0);
          transform: scale3d(1, 1, 1) translate3d(160px, 0, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(5) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0);
          transform: scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0); }
        #wrapper #main #about .navigation .morph {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 100; }
          #wrapper #main #about .navigation .morph svg path {
            fill: #00b5aa;
            -webkit-transition: fill 0.3s;
            transition: fill 0.3s; }
        #wrapper #main #about .navigation .navigation--open .morph svg path {
          fill: #777; }
    #wrapper #main #skills {
      padding: 50px 15px; }
      #wrapper #main #skills .skillsInner {
        padding-top: 50px;
        padding-bottom: 50px; }
    #wrapper #main #contacts h1 {
      font-size: 3em;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      margin-top: 50px;
      margin-bottom: 25px;
      color: #006962; }
    #wrapper #main #contacts p {
      font-size: 1.5em;
      letter-spacing: 0.1em;
      color: #777777;
      margin-bottom: 25px; }
    #wrapper #main #contacts input {
      border: 0;
      display: block;
      width: 100%;
      margin-bottom: 25px; }
    #wrapper #main #contacts input[type=text]:first-child {
      text-transform: capitalize; }
    #wrapper #main #contacts input[type=text],
    #wrapper #main #contacts input[type=email] {
      font-size: 1.5em;
      letter-spacing: 0.1em;
      color: #777777;
      line-height: 2em;
      background: transparent;
      border: 0;
      border-bottom: 2px solid #006962;
      -webkit-transition: border-bottom 1s ease-out;
      transition: border-bottom 1s ease-out; }
      #wrapper #main #contacts input[type=text].error,
      #wrapper #main #contacts input[type=email].error {
        border-bottom-color: #ff0000; }
    #wrapper #main #contacts input[type=submit] {
      width: auto;
      float: right;
      margin: 25px 0;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.3em; }
    #wrapper #main #contacts .form-error {
      float: left;
      opacity: 0;
      font-size: 1.25em;
      padding: 10px 30px;
      margin: 25px 0;
      color: #ff0000;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    #wrapper #main #contacts .location {
      display: inline-block;
      position: relative;
      padding: 50px 0 0 0; }
      #wrapper #main #contacts .location span {
        width: 30px;
        height: 30px;
        border-radius: 50% 50% 50% 0;
        background: #00b5aa;
        position: absolute;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        left: 50%;
        top: 30px;
        margin: -20px 0 0 -20px; }
        #wrapper #main #contacts .location span:after {
          content: "";
          width: 14px;
          height: 14px;
          margin: 8px 0 0 8px;
          background: #e6e6e6;
          position: absolute;
          border-radius: 50%; }
    #wrapper #main #contacts .social {
      display: inline-block;
      float: right;
      padding: 50px 0 0 0; }
      #wrapper #main #contacts .social li {
        margin-left: -4px;
        display: inline-block; }
        #wrapper #main #contacts .social li:first-child {
          margin-left: 0; }
        #wrapper #main #contacts .social li a {
          color: #00b5aa;
          font-size: 2em; }
          #wrapper #main #contacts .social li a:hover {
            color: #006962;
            text-decoration: none; }
    #wrapper #main .main-title {
      position: absolute;
      margin: 0;
      padding: 0;
      text-align: center;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }
      #wrapper #main .main-title h1 {
        font-size: 4.2em;
        letter-spacing: 0.1em;
        color: #006962;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8); }
      #wrapper #main .main-title p {
        font-size: 2em;
        letter-spacing: 0.1em;
        color: #777777;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8); }
      #wrapper #main .main-title .thin {
        font-weight: 200; }
    #wrapper #main .portfolioInner {
      text-align: center;
      padding: 10% 0; }
      #wrapper #main .portfolioInner:nth-child(even) .innerText {
        text-align: left; }
      #wrapper #main .portfolioInner:nth-child(odd) .innerText {
        text-align: right; }
      #wrapper #main .portfolioInner .innerText {
        height: 200px; }
        #wrapper #main .portfolioInner .innerText a {
          outline: none; }
          #wrapper #main .portfolioInner .innerText a:hover {
            text-decoration: none; }
        #wrapper #main .portfolioInner .innerText h1 {
          line-height: 50px;
          margin: 50px 0 0 0; }
          #wrapper #main .portfolioInner .innerText h1 a {
            color: #00b5aa; }
        #wrapper #main .portfolioInner .innerText h3 {
          line-height: 50px;
          margin: 0 0 50px 0;
          color: #777777; }
      #wrapper #main .portfolioInner .innerImage > a {
        display: block;
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0 auto;
        text-decoration: none;
        outline: none; }
        #wrapper #main .portfolioInner .innerImage > a svg {
          position: absolute;
          top: 0;
          left: 0;
          -ms-box-shadow: 0 0 15px 0 #323232;
          -o-box-shadow: 0 0 15px 0 #323232;
          box-shadow: 0 0 15px 0 #323232;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
          #wrapper #main .portfolioInner .innerImage > a svg line {
            stroke-width: 4;
            stroke: #00827a;
            fill: none;
            stroke-dasharray: 200;
            -webkit-transition: -webkit-transform 0.6s ease-out;
            transition: transform 0.6s ease-out; }
        #wrapper #main .portfolioInner .innerImage > a:hover svg line {
          -webkit-transform: translateX(-400px);
          -ms-transform: translateX(-400px);
          transform: translateX(-400px); }
          #wrapper #main .portfolioInner .innerImage > a:hover svg line.top {
            -webkit-transform: translateX(-400px);
            -ms-transform: translateX(-400px);
            transform: translateX(-400px); }
          #wrapper #main .portfolioInner .innerImage > a:hover svg line.bottom {
            -webkit-transform: translateX(400px);
            -ms-transform: translateX(400px);
            transform: translateX(400px); }
          #wrapper #main .portfolioInner .innerImage > a:hover svg line.left {
            -webkit-transform: translateY(400px);
            -ms-transform: translateY(400px);
            transform: translateY(400px); }
          #wrapper #main .portfolioInner .innerImage > a:hover svg line.right {
            -webkit-transform: translateY(-400px);
            -ms-transform: translateY(-400px);
            transform: translateY(-400px); }
        #wrapper #main .portfolioInner .innerImage > a:hover img {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
        #wrapper #main .portfolioInner .innerImage > a img {
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          -webkit-transition: all 1s ease;
          transition: all 1s ease; }
      #wrapper #main .portfolioInner .innerImage.cuda > a svg {
        background: #87509c; }
        #wrapper #main .portfolioInner .innerImage.cuda > a svg line {
          stroke: #00b5aa; }
      #wrapper #main .portfolioInner .innerImage.brandmaster img {
        width: 120px;
        height: auto; }
      #wrapper #main .portfolioInner .innerImage.adminPanel img {
        width: 100px;
        height: 100px; }
    #wrapper #main .container:first-child {
      min-height: 200px; }
    #wrapper #main .works {
      height: 200px;
      text-align: center;
      position: relative; }
      #wrapper #main .works:before {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 200px solid transparent;
        border-right: 585px solid rgba(0, 105, 98, 0.7);
        z-index: 1; }
      #wrapper #main .works:after {
        content: '';
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 200px solid transparent;
        border-left: 585px solid rgba(0, 105, 98, 0.7);
        z-index: 1; }
      #wrapper #main .works img {
        position: absolute;
        display: inline-block;
        left: calc(50% - 100px);
        width: 100px;
        height: 100px;
        margin: 50px;
        z-index: 200; }
    #wrapper #main .examples {
      padding-top: 50px; }
      #wrapper #main .examples .iphone {
        margin-top: -200px; }
      #wrapper #main .examples figcaption {
        margin: 0 auto 0 auto;
        max-width: 40em;
        width: 95%;
        text-align: center; }
        #wrapper #main .examples figcaption h2 {
          font-weight: 300;
          font-size: 3em;
          margin-bottom: 0.2em; }
        #wrapper #main .examples figcaption p {
          font-size: 1.3em; }
      #wrapper #main .examples figure:first-child figcaption {
        margin-top: 8em; }
      #wrapper #main .examples .drawings {
        position: relative;
        display: none;
        max-height: 600px; }
      #wrapper #main .examples .illustration {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
      #wrapper #main .examples .show {
        opacity: 1; }
      #wrapper #main .examples .hide {
        opacity: 0; }
      #wrapper #main .examples .line-drawing,
      #wrapper #main .examples .illustration {
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s; }
      #wrapper #main .examples .line-drawing path {
        fill: none;
        stroke: #006962;
        stroke-width: 3; }
        #wrapper #main .examples .line-drawing path.line-round {
          stroke-linecap: round; }
        #wrapper #main .examples .line-drawing path.stroke-medium {
          stroke-width: 2; }
        #wrapper #main .examples .line-drawing path.stroke-thin {
          stroke-width: 1; }

#modals {
  position: relative; }
  #modals .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    display: none;
    background: rgba(0, 105, 98, 0.5); }
  #modals #feedbackModal {
    position: fixed;
    top: 20%;
    height: auto;
    z-index: 3000;
    display: none; }
    #modals #feedbackModal p:first-child {
      width: 100%;
      display: block;
      padding: 15px;
      background: #006962;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin: 0; }
    #modals #feedbackModal p:nth-child(2) {
      width: 100%;
      display: block;
      padding: 25px;
      background: #00b5aa;
      margin: 0;
      color: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    #modals #feedbackModal button {
      position: absolute;
      right: 30px;
      top: 13px;
      color: #fff;
      background: transparent;
      border: 0;
      font-size: 0; }
      #modals #feedbackModal button:before {
        font-size: 20px; }
      #modals #feedbackModal button:hover, #modals #feedbackModal button:focus {
        text-decoration: none; }

.more {
  display: none; }

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

.fade-in-center-left {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fade-in-center-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-center-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

.fade-in-center-right {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-animation: fade-in-center-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-center-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

.fade-in-top {
  -webkit-transform: translateY(9999px);
      -ms-transform: translateY(9999px);
          transform: translateY(9999px);
  -webkit-animation: fade-in-top 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-top 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

.fade-in-bottom {
  opacity: 0;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-bottom 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

.fade-in-left {
  -webkit-transform: translateX(-9999px);
      -ms-transform: translateX(-9999px);
          transform: translateX(-9999px);
  -webkit-animation: fade-in-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

.fill-in-left {
  width: 0;
  opacity: 0;
  -webkit-animation: fill-in-left 1s linear forwards;
          animation: fill-in-left 1s linear forwards; }

.fade-in-right {
  -webkit-transform: translateX(9999px);
      -ms-transform: translateX(9999px);
          transform: translateX(9999px);
  -webkit-animation: fade-in-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s; }

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }

.delay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; }

.delay-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.delay-11 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s; }

.delay-12 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.delay-13 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s; }

.delay-14 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

.delay-15 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes fade-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes fade-in-left {
  from {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes fade-in-left {
  from {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@-webkit-keyframes fill-in-left {
  1% {
    opacity: 1; }
  100% {
    opacity: 1;
    width: 100%; } }

@keyframes fill-in-left {
  1% {
    opacity: 1; }
  100% {
    opacity: 1;
    width: 100%; } }

@-webkit-keyframes fade-in-right {
  from {
    -webkit-transform: translateX(9999px);
            transform: translateX(9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes fade-in-right {
  from {
    -webkit-transform: translateX(9999px);
            transform: translateX(9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@-webkit-keyframes fade-in-top {
  from {
    -webkit-transform: translateY(9999px);
            transform: translateY(9999px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes fade-in-top {
  from {
    -webkit-transform: translateY(9999px);
            transform: translateY(9999px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes show {
  from {
    margin-top: -300px; }
  to {
    margin-top: 0; } }

@keyframes show {
  from {
    margin-top: -300px; }
  to {
    margin-top: 0; } }

@-webkit-keyframes fade-in-center-left {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fade-in-center-left {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes fade-in-center-right {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fade-in-center-right {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes open-modal-top {
  50% {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes open-modal-top {
  50% {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }
/*# sourceMappingURL=main.css.map */