@import url("font-awesome.min.css");
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes fade-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.fade-in-center-left {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fade-in-center-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-center-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

@-webkit-keyframes fade-in-center-left {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fade-in-center-left {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.fade-in-center-right {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-animation: fade-in-center-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-center-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

@-webkit-keyframes fade-in-center-right {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fade-in-center-right {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.fade-in-top {
  -webkit-transform: translateY(9999px);
      -ms-transform: translateY(9999px);
          transform: translateY(9999px);
  -webkit-animation: fade-in-top 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-top 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

@-webkit-keyframes fade-in-top {
  from {
    -webkit-transform: translateY(9999px);
            transform: translateY(9999px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes fade-in-top {
  from {
    -webkit-transform: translateY(9999px);
            transform: translateY(9999px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

.fade-in-bottom {
  opacity: 0;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-bottom 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

@-webkit-keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

.fade-in-right {
  -webkit-transform: translateX(-9999px);
      -ms-transform: translateX(-9999px);
          transform: translateX(-9999px);
  -webkit-animation: fade-in-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-right 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

@-webkit-keyframes fade-in-right {
  from {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes fade-in-right {
  from {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

.fade-in-left {
  -webkit-transform: translateX(9999px);
      -ms-transform: translateX(9999px);
          transform: translateX(9999px);
  -webkit-animation: fade-in-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards;
          animation: fade-in-left 1s cubic-bezier(0.55, 0.3, 0.24, 0.99) forwards; }

@-webkit-keyframes fade-in-left {
  from {
    -webkit-transform: translateX(9999px);
            transform: translateX(9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes fade-in-left {
  from {
    -webkit-transform: translateX(9999px);
            transform: translateX(9999px); }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

.fill-in-right {
  width: 0;
  -webkit-animation: fill-in-right 2s ease-in-out forwards;
          animation: fill-in-right 2s ease-in-out forwards; }

@-webkit-keyframes fill-in-right {
  100% {
    width: 100%; } }

@keyframes fill-in-right {
  100% {
    width: 100%; } }

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s; }

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }

.delay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; }

.delay-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.delay-11 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s; }

.delay-12 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.delay-13 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s; }

.delay-14 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

.delay-15 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

@-webkit-keyframes open-modal-top {
  50% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes open-modal-top {
  50% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

#wrapper {
  min-width: 320px;
  overflow: hidden; }
  #wrapper.show-menu #header {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #wrapper.show-menu #main {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0); }
  #wrapper.show-feedback {
    -webkit-perspective: 500px;
    perspective: 500px; }
    #wrapper.show-feedback #feedbackModal {
      display: block; }
    #wrapper.show-feedback .modal-background {
      display: block; }
    #wrapper.show-feedback #main,
    #wrapper.show-feedback .modal-background {
      -webkit-animation: open-modal-top 1s forwards ease-in;
              animation: open-modal-top 1s forwards ease-in;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
  #wrapper #header {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    font-size: 1.15em;
    z-index: 1001;
    -webkit-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
    #wrapper #header .menu {
      width: calc(100% - 120px);
      height: 100%;
      padding: 2em 1em;
      background: #373a47; }
      #wrapper #header .menu .icon-list {
        width: 280px; }
        #wrapper #header .menu .icon-list a {
          display: block;
          padding: 0.8em;
          font-size: 1.2em;
          color: #006962;
          outline: none; }
          #wrapper #header .menu .icon-list a:hover {
            text-decoration: none; }
            #wrapper #header .menu .icon-list a:hover i {
              color: #ffae1a; }
          #wrapper #header .menu .icon-list a.active i {
            color: #ffae1a; }
          #wrapper #header .menu .icon-list a span {
            margin-left: 10px;
            font-size: 0.75em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px; }
    #wrapper #header .morph-shape {
      width: 120px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      fill: #373a47;
      z-index: 1000; }
    #wrapper #header .close-button {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 1em;
      top: 1em;
      overflow: hidden;
      text-indent: 16px;
      border: none;
      background: transparent;
      color: transparent;
      z-index: 1001; }
      #wrapper #header .close-button:before, #wrapper #header .close-button:after {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background: #95a5a6; }
      #wrapper #header .close-button:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      #wrapper #header .close-button:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  #wrapper .menu-button {
    width: 2.5em;
    height: 2.25em;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1em;
    padding: 0;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    opacity: 0.3;
    z-index: 1000;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #wrapper .menu-button:before {
      content: '';
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      bottom: 0.5em;
      left: 0.5em;
      background: -webkit-linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
      background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%); }
      #wrapper .menu-button:before:hover {
        opacity: 0.6; }
    #wrapper .menu-button:hover {
      opacity: 1; }
  #wrapper #dots-canvas {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
  #wrapper #main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
    #wrapper #main ul {
      padding: 0;
      font-size: 1.25em; }
    #wrapper #main h1 {
      color: #006962;
      margin-bottom: 30px; }
    #wrapper #main h3 {
      color: #777777;
      margin-bottom: 20px; }
    #wrapper #main p {
      font-size: 1.25em; }
    #wrapper #main #about {
      padding: 50px 15px 0 15px; }
      #wrapper #main #about img {
        z-index: 100; }
      #wrapper #main #about .navigation {
        display: inline-block;
        position: absolute;
        right: -5px;
        top: 140px;
        cursor: pointer;
        z-index: 2000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        #wrapper #main #about .navigation .trigger {
          width: 80px;
          height: 80px;
          position: relative;
          margin: 0;
          padding: 0;
          background: none;
          color: #333333;
          border: none;
          outline: none;
          text-align: center;
          font-size: 1.5em;
          z-index: 2000;
          -webkit-tap-highlight-color: transparent; }
          #wrapper #main #about .navigation .trigger span {
            position: absolute;
            opacity: 0; }
        #wrapper #main #about .navigation .navigation__items {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          margin: 0;
          padding: 0;
          list-style-type: none;
          text-align: center; }
          #wrapper #main #about .navigation .navigation__items li {
            width: 60%;
            height: 60%;
            position: absolute;
            top: 10%;
            left: 10%;
            font-size: 2em;
            line-height: 48px;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transform: scale3d(0.5, 0.5, 1);
            -ms-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
            -webkit-transition: -webkit-transform 0.25s ease-out;
            transition: transform 0.25s ease-out; }
            #wrapper #main #about .navigation .navigation__items li a {
              display: block;
              overflow: hidden;
              background: #333333;
              color: #006962;
              border-radius: 50%;
              outline: none;
              -webkit-tap-highlight-color: transparent; }
              #wrapper #main #about .navigation .navigation__items li a:hover, #wrapper #main #about .navigation .navigation__items li a:focus {
                background: #333333;
                color: #00b5aa; }
              #wrapper #main #about .navigation .navigation__items li a span {
                position: absolute;
                top: 100%;
                color: transparent;
                pointer-events: none; }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:first-child {
          -webkit-transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0);
          transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(2) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(0, 160px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(0, 160px, 0);
          transform: scale3d(1, 1, 1) translate3d(0, 160px, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(3) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0);
          transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(4) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(160px, 0, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(160px, 0, 0);
          transform: scale3d(1, 1, 1) translate3d(160px, 0, 0); }
        #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(5) {
          -webkit-transform: scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0);
          -ms-transform: scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0);
          transform: scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0); }
        #wrapper #main #about .navigation .morph {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 100; }
          #wrapper #main #about .navigation .morph svg path {
            fill: #00b5aa;
            -webkit-transition: fill 0.3s;
            transition: fill 0.3s; }
        #wrapper #main #about .navigation .navigation--open .morph svg path {
          fill: #777; }
      #wrapper #main #about .about {
        margin: 0; }
        #wrapper #main #about .about h1 {
          margin: 0;
          font-size: 3em; }
        #wrapper #main #about .about h3 {
          margin: 10px 0;
          font-size: 1.5em; }
      #wrapper #main #about .more {
        display: none; }
        #wrapper #main #about .more ul {
          padding: 0 0 0 13px;
          list-style-type: disc; }
          #wrapper #main #about .more ul li {
            margin-bottom: 5px; }
      #wrapper #main #about #skills {
        padding: 15px; }
        #wrapper #main #about #skills .skillsInner {
          margin-bottom: 0; }
        #wrapper #main #about #skills h2 {
          margin-bottom: 25px; }
        #wrapper #main #about #skills ul {
          padding: 0 0 0 13px;
          list-style-type: disc;
          text-align: left; }
        #wrapper #main #about #skills strong {
          display: block;
          margin: 0 0 8.5px; }
    #wrapper #main #contacts h1 {
      margin: 50px 0 25px 0;
      font-size: 3em;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      color: #006962; }
    #wrapper #main #contacts p {
      margin-bottom: 25px;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      color: #777777; }
    #wrapper #main #contacts input {
      width: 0;
      display: block;
      margin-bottom: 25px;
      border: 0; }
    #wrapper #main #contacts input[type=text]:first-child {
      text-transform: capitalize; }
    #wrapper #main #contacts input[type=text],
    #wrapper #main #contacts input[type=email] {
      font-size: 1.5em;
      line-height: 2em;
      letter-spacing: 0.1em;
      background: transparent;
      color: #777777;
      border: 0;
      border-bottom: 2px solid #006962;
      -webkit-transition: border-bottom 1s ease-out;
      transition: border-bottom 1s ease-out; }
      #wrapper #main #contacts input[type=text].error,
      #wrapper #main #contacts input[type=email].error {
        border-bottom-color: #ff0000; }
    #wrapper #main #contacts input[type=submit] {
      width: 25%;
      margin: 0;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.3em; }
    #wrapper #main #contacts .form-error {
      opacity: 0;
      font-size: 1.25em;
      color: #ff0000;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    #wrapper #main #contacts .location {
      display: inline-block;
      position: relative;
      padding: 50px 0 0 0; }
      #wrapper #main #contacts .location span {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 30px;
        margin: -20px 0 0 -20px;
        border-radius: 50% 50% 50% 0;
        background: #00b5aa;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
        #wrapper #main #contacts .location span:after {
          content: "";
          width: 14px;
          height: 14px;
          position: absolute;
          margin: 8px 0 0 8px;
          border-radius: 50%;
          background: #e6e6e6; }
    #wrapper #main #contacts .social {
      display: inline-block;
      float: right;
      padding: 50px 0 0 0; }
      #wrapper #main #contacts .social li {
        display: inline-block;
        margin-left: -4px; }
        #wrapper #main #contacts .social li:first-child {
          margin-left: 0; }
        #wrapper #main #contacts .social li a {
          font-size: 2em;
          color: #00b5aa; }
          #wrapper #main #contacts .social li a:hover {
            color: #006962;
            text-decoration: none; }
    #wrapper #main .main-title {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      text-align: center;
      -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }
      #wrapper #main .main-title h1 {
        margin-bottom: 8.5px;
        font-size: 4.2em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
        color: #006962; }
      #wrapper #main .main-title p {
        font-size: 2em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
        color: #777777; }
      #wrapper #main .main-title .thin {
        font-weight: 200; }
    #wrapper #main .portfolioInner {
      padding: 5% 0;
      text-align: center; }
      #wrapper #main .portfolioInner:nth-child(even) .innerText {
        float: right;
        text-align: left; }
      #wrapper #main .portfolioInner:nth-child(odd) .innerText {
        text-align: right; }
      #wrapper #main .portfolioInner .innerText {
        height: 282px; }
        #wrapper #main .portfolioInner .innerText a {
          outline: none; }
          #wrapper #main .portfolioInner .innerText a:hover {
            text-decoration: none; }
        #wrapper #main .portfolioInner .innerText h1 {
          margin: 91px 0 0 0;
          line-height: 50px; }
          #wrapper #main .portfolioInner .innerText h1 a {
            color: #00b5aa; }
        #wrapper #main .portfolioInner .innerText h3 {
          margin: 0 0 91px 0;
          line-height: 50px;
          color: #777777; }
      #wrapper #main .portfolioInner .innerImage {
        padding: 41px 15px; }
        #wrapper #main .portfolioInner .innerImage > a {
          width: 200px;
          height: 200px;
          display: block;
          position: relative;
          margin: 0 auto;
          text-decoration: none;
          outline: none; }
          #wrapper #main .portfolioInner .innerImage > a svg {
            position: absolute;
            top: 0;
            left: 0;
            -ms-box-shadow: 0 0 15px 0 #323232;
            -o-box-shadow: 0 0 15px 0 #323232;
            box-shadow: 0 0 15px 0 #323232;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
            #wrapper #main .portfolioInner .innerImage > a svg line {
              stroke-width: 4;
              stroke: #00827a;
              fill: none;
              stroke-dasharray: 200;
              -webkit-transition: -webkit-transform 0.6s ease-out;
              transition: transform 0.6s ease-out; }
          #wrapper #main .portfolioInner .innerImage > a:hover svg line {
            -webkit-transform: translateX(-400px);
            -ms-transform: translateX(-400px);
            transform: translateX(-400px); }
            #wrapper #main .portfolioInner .innerImage > a:hover svg line.top {
              -webkit-transform: translateX(-400px);
              -ms-transform: translateX(-400px);
              transform: translateX(-400px); }
            #wrapper #main .portfolioInner .innerImage > a:hover svg line.bottom {
              -webkit-transform: translateX(400px);
              -ms-transform: translateX(400px);
              transform: translateX(400px); }
            #wrapper #main .portfolioInner .innerImage > a:hover svg line.left {
              -webkit-transform: translateY(400px);
              -ms-transform: translateY(400px);
              transform: translateY(400px); }
            #wrapper #main .portfolioInner .innerImage > a:hover svg line.right {
              -webkit-transform: translateY(-400px);
              -ms-transform: translateY(-400px);
              transform: translateY(-400px); }
          #wrapper #main .portfolioInner .innerImage > a:hover img {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          #wrapper #main .portfolioInner .innerImage > a img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-transition: all 1s ease;
            transition: all 1s ease; }
        #wrapper #main .portfolioInner .innerImage.cuda > a svg {
          background: #87509c; }
          #wrapper #main .portfolioInner .innerImage.cuda > a svg line {
            stroke: #00b5aa; }
        #wrapper #main .portfolioInner .innerImage.brandmaster img {
          width: 120px;
          height: auto; }
        #wrapper #main .portfolioInner .innerImage.adminPanel img {
          width: 100px;
          height: 100px; }
    #wrapper #main .works {
      height: 200px;
      position: relative;
      text-align: center;
      background: rgba(0, 105, 98, 0.7); }
      #wrapper #main .works:before {
        content: '';
        width: 50%;
        height: 0;
        position: absolute;
        left: 0;
        border-top: 200px solid transparent;
        border-left: 585px solid #eee;
        z-index: 1; }
      #wrapper #main .works:after {
        content: '';
        width: 50%;
        height: 0;
        position: absolute;
        right: 0;
        border-top: 200px solid transparent;
        border-right: 585px solid #eee;
        z-index: 1; }
      #wrapper #main .works img {
        width: 100px;
        height: 100px;
        position: absolute;
        left: calc(50% - 100px);
        display: inline-block;
        margin: 50px;
        z-index: 200; }
    #wrapper #main .examples {
      padding-top: 50px; }
      #wrapper #main .examples .iphone {
        margin-top: -40%; }
      #wrapper #main .examples figcaption {
        margin: 0 auto;
        width: 95%;
        max-width: 40em;
        text-align: center; }
        #wrapper #main .examples figcaption h2 {
          font-weight: 300;
          font-size: 3em;
          margin-bottom: 0.2em; }
        #wrapper #main .examples figcaption p {
          font-size: 1.3em; }
      #wrapper #main .examples figure:first-child figcaption {
        margin-top: 8em; }
      #wrapper #main .examples .drawings {
        display: none;
        position: relative;
        max-height: 600px; }
      #wrapper #main .examples .illustration {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
      #wrapper #main .examples .show {
        opacity: 1; }
      #wrapper #main .examples .hide {
        opacity: 0; }
      #wrapper #main .examples .line-drawing,
      #wrapper #main .examples .illustration {
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s; }
      #wrapper #main .examples .line-drawing path {
        fill: none;
        stroke: #006962;
        stroke-width: 3; }
        #wrapper #main .examples .line-drawing path.line-round {
          stroke-linecap: round; }
        #wrapper #main .examples .line-drawing path.stroke-medium {
          stroke-width: 2; }
        #wrapper #main .examples .line-drawing path.stroke-thin {
          stroke-width: 1; }
    #wrapper #main footer {
      padding-bottom: 50px; }

#modals {
  position: relative; }
  #modals .modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background: rgba(0, 105, 98, 0.5); }
  #modals #feedbackModal {
    height: auto;
    display: none;
    position: fixed;
    top: 20%;
    z-index: 3000; }
    #modals #feedbackModal p:first-child {
      width: 100%;
      display: block;
      margin: 0;
      padding: 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      background: #006962;
      color: #fff; }
    #modals #feedbackModal p:nth-child(2) {
      width: 100%;
      display: block;
      margin: 0;
      padding: 25px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background: #00b5aa;
      color: #fff; }
    #modals #feedbackModal button {
      position: absolute;
      right: 30px;
      top: 13px;
      border: 0;
      font-size: 0;
      background: transparent;
      color: #fff; }
      #modals #feedbackModal button:before {
        font-size: 20px; }
      #modals #feedbackModal button:hover, #modals #feedbackModal button:focus {
        text-decoration: none; }

@media (max-width: 480px) {
  #wrapper .menu-button {
    margin: 5px; }
  #wrapper #main .main-title h1 {
    font-size: 2em; }
  #wrapper #main .main-title p {
    font-size: 1em; }
  #wrapper #main .portfolioInner.container .innerText {
    height: auto;
    text-align: center; }
  #wrapper #main .portfolioInner .innerText h3 {
    margin-bottom: 10px; }
  #wrapper #main .works {
    width: 320px;
    height: 90px;
    left: calc(50% - 160px); }
    #wrapper #main .works:before {
      border-top: 90px solid transparent;
      border-left: 160px solid #eee; }
    #wrapper #main .works:after {
      border-top: 90px solid transparent;
      border-right: 160px solid #eee; }
    #wrapper #main .works img {
      width: 70px;
      height: 70px;
      left: calc(50% - 35px);
      margin: 10px 0; }
  #wrapper #main #about .row > div:first-child {
    text-align: center; }
  #wrapper #main #about .about {
    padding-top: 50px; }
    #wrapper #main #about .about h1, #wrapper #main #about .about h3 {
      text-align: center; }
  #wrapper #main #about .navigation {
    right: calc(50% - 40px);
    top: 160px; }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:first-child {
      -webkit-transform: scale3d(1, 1, 1) translate3d(-50px, 100px, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(-50px, 100px, 0);
      transform: scale3d(1, 1, 1) translate3d(-50px, 100px, 0); }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(2) {
      -webkit-transform: scale3d(1, 1, 1) translate3d(10px, 100px, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(10px, 100px, 0);
      transform: scale3d(1, 1, 1) translate3d(10px, 100px, 0); }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(3) {
      -webkit-transform: scale3d(1, 1, 1) translate3d(70px, 100px, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(70px, 100px, 0);
      transform: scale3d(1, 1, 1) translate3d(70px, 100px, 0); }
  #wrapper #main #about .p-btn {
    margin-left: calc(50% - 75px); }
  #wrapper #main #contacts h1 {
    font-size: 2em;
    text-align: center; }
  #wrapper #main #contacts p {
    font-size: 1em; }
  #wrapper #main #contacts .req:nth-child(3) {
    margin-bottom: 5px; }
  #wrapper #main #contacts .form-error {
    margin: 5px;
    padding: 0;
    font-size: 1em;
    text-align: justify; }
  #wrapper #main #contacts input[type=submit] {
    float: none;
    margin: 0 auto 30px auto; }
  #wrapper #main #contacts .location {
    display: block;
    text-align: center; }
    #wrapper #main #contacts .location span {
      text-align: left; }
  #wrapper #main #contacts .social {
    display: block;
    float: none;
    padding: 10px;
    text-align: center; } }

@media (min-width: 481px) and (max-width: 768px) {
  #wrapper .menu-button {
    margin: 5px; }
  #wrapper #main .main-title h1 {
    font-size: 3em; }
  #wrapper #main .main-title p {
    font-size: 1.5em; }
  #wrapper #main .portfolioInner.container .innerText {
    height: auto;
    text-align: center; }
  #wrapper #main .portfolioInner .innerText h3 {
    margin-bottom: 10px; }
  #wrapper #main .works {
    width: 480px;
    height: 120px;
    left: calc(50% - 240px); }
    #wrapper #main .works:before {
      border-top: 120px solid transparent;
      border-left: 240px solid #eee; }
    #wrapper #main .works:after {
      border-top: 120px solid transparent;
      border-right: 240px solid #eee; }
    #wrapper #main .works img {
      width: 70px;
      height: 70px;
      left: calc(50% - 35px);
      margin: 25px 0; }
  #wrapper #main #about .row > div:first-child {
    text-align: center; }
  #wrapper #main #about .about {
    padding-top: 50px; }
    #wrapper #main #about .about h1, #wrapper #main #about .about h3 {
      text-align: center; }
  #wrapper #main #about .navigation {
    right: calc(50% - 40px);
    top: 160px; }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:first-child {
      -webkit-transform: scale3d(1, 1, 1) translate3d(-160px, 0, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(-160px, 0, 0);
      transform: scale3d(1, 1, 1) translate3d(-160px, 0, 0); }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(2) {
      -webkit-transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0);
      transform: scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0); }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(3) {
      -webkit-transform: scale3d(1, 1, 1) translate3d(0, 160px, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(0, 160px, 0);
      transform: scale3d(1, 1, 1) translate3d(0, 160px, 0); }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(4) {
      -webkit-transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0);
      transform: scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0); }
    #wrapper #main #about .navigation.navigation--open .navigation__items li:nth-child(5) {
      -webkit-transform: scale3d(1, 1, 1) translate3d(160px, 0, 0);
      -ms-transform: scale3d(1, 1, 1) translate3d(160px, 0, 0);
      transform: scale3d(1, 1, 1) translate3d(160px, 0, 0); }
  #wrapper #main #about .p-btn {
    margin-left: calc(50% - 75px); }
  #wrapper #main #contacts h1 {
    font-size: 2em; }
  #wrapper #main #contacts p {
    font-size: 1em; }
  #wrapper #main #contacts .req:nth-child(3) {
    margin-bottom: 5px; }
  #wrapper #main #contacts .form-error {
    margin: 5px;
    padding: 0;
    font-size: 1em;
    text-align: justify; }
  #wrapper #main #contacts input[type=submit] {
    float: none;
    margin: 0 auto 30px auto; } }

@media (min-width: 769px) and (max-width: 992px) {
  #wrapper #main .portfolioInner.container .innerText {
    height: auto;
    text-align: center; }
  #wrapper #main .portfolioInner .innerText h3 {
    margin-bottom: 10px; }
  #wrapper #main .works:before {
    border-left: 375px solid #eee; }
  #wrapper #main .works:after {
    border-right: 375px solid #eee; }
  #wrapper #main #about .row > div:first-child {
    text-align: center; }
  #wrapper #main #about .about {
    padding-top: 25px; }
    #wrapper #main #about .about h1, #wrapper #main #about .about h3 {
      text-align: center; }
  #wrapper #main #about .navigation {
    right: calc(50% - 120px); }
  #wrapper #main #about .p-btn {
    margin-left: calc(50% - 75px); }
  #wrapper #main #contacts h1 {
    font-size: 2em; }
  #wrapper #main #contacts p {
    font-size: 1em; }
  #wrapper #main #contacts .req:nth-child(3) {
    margin-bottom: 5px; }
  #wrapper #main #contacts .form-error {
    margin: 5px;
    padding: 0;
    font-size: 1em;
    text-align: justify; }
  #wrapper #main #contacts input[type=submit] {
    float: none;
    margin: 0 auto 30px auto; } }

@media (min-width: 993px) and (max-width: 1200px) {
  #wrapper #main .works:before {
    border-left: 485px solid #eee; }
  #wrapper #main .works:after {
    border-right: 485px solid #eee; }
  #wrapper #main #contacts .form-error {
    padding: 0; } }

@media print {
  #wrapper #header,
  #wrapper #dots-canvas,
  #wrapper .menu-button {
    display: none; }
  #wrapper #main .portfolioInner {
    padding: 20px 0; }
    #wrapper #main .portfolioInner .innerText {
      width: 50%; }
      #wrapper #main .portfolioInner .innerText h1 {
        margin: 0; }
    #wrapper #main .portfolioInner .innerImage {
      width: 50%; }
      #wrapper #main .portfolioInner .innerImage svg line {
        display: none; }
      #wrapper #main .portfolioInner .innerImage.cuda > a img {
        background: #000; }
  #wrapper #main #about .navigation {
    display: none; }
  #wrapper #main #about .row > div:first-child {
    float: left;
    width: 200px; }
  #wrapper #main #about .row > div:nth-child(2) {
    float: none;
    width: 100%; }
    #wrapper #main #about .row > div:nth-child(2) div {
      margin: 0;
      padding: 0; }
      #wrapper #main #about .row > div:nth-child(2) div h1, #wrapper #main #about .row > div:nth-child(2) div h3 {
        margin: 0 10px;
        text-align: left; }
      #wrapper #main #about .row > div:nth-child(2) div h3 {
        margin: 10px; }
  #wrapper #main #about .more {
    display: block; }
  #wrapper #main #about .expand {
    display: none; }
  #wrapper #main #about #skills .skillsInner {
    width: 50%;
    display: inline-block;
    margin: 0; }
    #wrapper #main #about #skills .skillsInner ul {
      width: 50%; }
  #wrapper #main #contacts .location {
    display: inline-block; }
    #wrapper #main #contacts .location:before {
      content: 'Location:';
      display: inline-block; }
  #wrapper #main #contacts #feedback {
    display: none; }
  #wrapper #main #contacts .social {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }
    #wrapper #main #contacts .social li {
      display: block; }
      #wrapper #main #contacts .social li a {
        text-align: right;
        width: 100%;
        height: auto; }
        #wrapper #main #contacts .social li a:before {
          float: left;
          width: 50px; }
        #wrapper #main #contacts .social li a:after {
          font-size: 16px; } }
/*# sourceMappingURL=main.css.map */