$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@import url("font-awesome.min.css");

// General //

#wrapper {
	min-width: 320px;
	overflow: hidden;
	&.show-menu{
		#header {
			@include transform(translate3d(0,0,0));
		}
		#main{
			@include transition-delay(0.1s);
			@include transform(translate3d(100px,0,0));
		}
	}
	&.show-feedback{
		-webkit-perspective: 500px;
		-moz-perspective: 500px;
		perspective: 500px;
		#feedbackModal{
			display: block;
		}
		.modal-background{
			display: block;
		}
		#main,
		.modal-background{
			animation: open-modal-top 1s forwards ease-in;
			transform-style: preserve-3d;
			@include transform-origin(50% 100%);
		}

	}
	#header {
		width: 300px;
		position: fixed;
		top: 0;
		bottom: 0;
		font-size: 1.15em;
		z-index: 1001;
		@include transform(translate3d(-300px,0,0));
		@include transition(transform 0.3s);
		.menu {
			@include size(calc(100% - 120px), 100%);
			padding: 2em 1em;
			background: rgba(55, 58, 71, 1);
			.icon-list {
				width: 280px;
				a {
					display: block;
					padding: 0.8em;
					font-size: 1.2em;
					color: #006962;
					outline: none;
					&:hover{
						text-decoration: none;
						i{
							color: rgb(255, 174, 26);
						}
					}
					&.active{
						i{
							color: rgb(255, 174, 26);
						}

					}
					span {
						margin-left: 10px;
						font-size: 0.75em;
						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: 1px;
					}
				}
			}

		}
		.morph-shape {
			@include size(120px, 100%);
			position: absolute;
			top: 0;
			right: 0;
			fill: #373a47;
			z-index: 1000;
		}
		.close-button {
			@include size(16px);
			position: absolute;
			right: 1em;
			top: 1em;
			overflow: hidden;
			text-indent: 16px;
			border: none;
			background: transparent;
			color: transparent;
			z-index: 1001;
			&:before,
			&:after {
				content: '';
				@include size(2px, 100%);
				position: absolute;
				top: 0;
				left: 50%;
				background: #95a5a6;
			}
			&:before {
				@include transform(rotate(45deg));
			}
			&:after {
				@include transform(rotate(-45deg));
			}
		}
	}
	.menu-button {
		@include size(2.5em, 2.25em);
		position: fixed;
		top: 0;
		left: 0;
		margin: 1em;
		padding: 0;
		border: none;
		text-indent: 2.5em;
		font-size: 1.5em;
		color: transparent;
		background: transparent;
		opacity: 0.3;
		z-index: 1000;
		@include transition(all 0.5s ease-in-out);
		&:before {
			content: '';
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			bottom: 0.5em;
			left: 0.5em;
			background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
			&:hover {
				opacity: 0.6;
			}
		}
		&:hover {
			opacity: 1;
		}
	}
	#dots-canvas {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	#main {
		width: 100%;
		min-height: 100vh;
		position: relative;
		z-index: 1;
		@include transition(transform 0.3s);
		ul {
			padding: 0;
			font-size: 1.25em;
		}
		h1{
			color: #006962;
			margin-bottom: 30px;
		}
		h3{
			color: #777777;
			margin-bottom: 20px;
		}
		p{
			font-size: 1.25em;
		}
		#about {
			padding: 50px 15px 0 15px;
			img {
				z-index: 100;
			}
			.navigation {
				display: inline-block;
				position: absolute;
				right: -5px;
				top: 140px;
				cursor: pointer;
				z-index: 2000;
				@include user-select(none);
				.trigger {
					@include size(80px);
					position: relative;
					margin: 0;
					padding: 0;
					background: none;
					color: #333333;
					border: none;
					outline: none;
					text-align: center;
					font-size: 1.5em;
					z-index: 2000;
					-webkit-tap-highlight-color: transparent;
					span {
						position: absolute;
						opacity: 0;
					}
				}
				.navigation__items {
					@include size(100%);
					position: absolute;
					top: 0;
					margin: 0;
					padding: 0;
					list-style-type: none;
					text-align: center;
					li {
						@include size(60%);
						position: absolute;
						top: 10%;
						left: 10%;
						font-size: 2em;
						line-height: 48px;
						@include transform-origin(50% 50%);
						@include transform(scale3d(0.5, 0.5, 1));
						@include transition(transform 0.25s ease-out);
						a {
							display: block;
							overflow: hidden;
							background: #333333;
							color: #006962;
							border-radius: 50%;
							outline: none;
							-webkit-tap-highlight-color: transparent;
							&:hover,
							&:focus {
								background: #333333;
								color: #00b5aa;
							}
							span {
								position: absolute;
								top: 100%;
								color: transparent;
								pointer-events: none;
							}
						}
					}
				}
				&.navigation--open{
					.navigation__items{
						li{
							&:first-child {
								@include transform(scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0));
							}
							&:nth-child(2) {
								@include transform(scale3d(1, 1, 1) translate3d(0, 160px, 0));
							}
							&:nth-child(3) {
								@include transform(scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0));
							}
							&:nth-child(4) {
								@include transform(scale3d(1, 1, 1) translate3d(160px, 0, 0));
							}
							&:nth-child(5) {
								@include transform(scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0));
							}
						}
					}
				}
				.morph {
					@include size(100%);
					position: absolute;
					top: 0;
					left: 0;
					z-index: 100;
					svg{
						path {
							fill: #00b5aa;
							@include transition(fill 0.3s);
						}
					}
				}
				.navigation--open{
					.morph{
						svg{
							path {
								fill: #777;
							}
						}
					}
				}
			}
			.about{
				margin: 0;
				h1{
					margin: 0;
					font-size: 3em;
				}
				h3{
					margin: 10px 0;
					font-size: 1.5em;
				}
			}
			.more{
				display: none;
				ul{
					padding: 0 0 0 13px;
					list-style-type: disc;
					li{
						margin-bottom: 5px;
					}
				}
			}
			#skills {
				padding: 15px;
				.skillsInner {
					margin-bottom: 0;
				}
				h2{
					margin-bottom: 25px;
				}
				ul{
					padding: 0 0 0 13px;
					list-style-type: disc;
					text-align: left;
				}
				strong{
					display: block;
					margin: 0 0 8.5px;
				}
			}
		}
		#contacts{
			h1{
				margin: 50px 0 25px 0;
				font-size: 3em;
				letter-spacing: 0.5em;
				text-transform: uppercase;
				color: #006962;
			}
			p{
				margin-bottom: 25px;
				font-size: 1.5em;
				letter-spacing: 0.1em;
				color: #777777;
			}
			input{
				width: 0;
				display: block;
				margin-bottom: 25px;
				border: 0;
			}
			input[type=text]{
				&:first-child{
					text-transform: capitalize;
				}
			}
			input[type=text],
			input[type=email]{
				font-size: 1.5em;
				line-height: 25px;
				letter-spacing: 0.1em;
				background: transparent;
				color: #777777;
				border: 0;
				border-bottom: 2px solid #006962;
				@include transition(border-bottom 1s ease-out);
				&.error{
					border-bottom-color: #ff0000;
				}
			}
			input[type=submit]{
				width: 25%;
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.3em;
			}
			.form-error{
				opacity: 0;
				font-size: 1.25em;
				color: #ff0000;
				@include transition(all 1s ease-out);
			}
			.location{
				display: inline-block;
				position: relative;
				padding: 50px 0 0 0;

				span{
					@include size(30px);
					position: absolute;
					left: 50%;
					top: 30px;
					margin: -20px 0 0 -20px;
					border-radius: 50% 50% 50% 0;
					background: #00b5aa;
					@include transform(rotate(-45deg));
					&:after{
						content: "";
						@include size(14px);
						position: absolute;
						margin: 8px 0 0 8px;
						border-radius: 50%;
						background: #e6e6e6;
					}
				}
			}
			.social{
				display: inline-block;
				float: right;
				padding: 50px 0 0 0 ;
				li{
					display: inline-block;
					margin-left: -4px;
					&:first-child{
						margin-left: 0;
					}
					a{
						font-size: 2em;
						color: #00b5aa;
						&:hover{
							color: #006962;
							text-decoration: none;
						}
					}
				}
			}
		}
		.main-title {
			width: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0;
			padding: 0;
			text-align: center;
			@include transform(translate3d(-50%, -50%, 0));
			h1 {
				margin-bottom: 8.5px;
				font-size: 4.2em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
				color: #006962;
			}
			p {
				font-size: 2em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
				color: #777777;
			}
			.thin {
				font-weight: 200;
			}
		}
		.portfolioInner {
			padding: 5% 0;
			text-align: center;
			&:nth-child(even){
				.innerText {
					float: right;
					text-align: left;
				}
			}
			&:nth-child(odd){
				.innerText {
					text-align: right;
				}
			}
			.innerText{
				height: 282px;
				a {
					outline: none;
					&:hover {
						text-decoration: none;
					}
				}
				h1{
					margin: 91px 0 0 0;
					line-height: 50px;
					a {
						color: #00b5aa;
					}
				}
				h3 {
					margin: 0 0 91px 0;
					line-height: 50px;
					color: #777777;
				}
			}
			.innerImage{
				padding: 41px 15px;
				> a {
					@include size(200px);
					display: block;
					position: relative;
					margin: 0 auto;
					text-decoration: none;
					outline: none;
					svg {
						position: absolute;
						top: 0;
						left: 0;
						@include box-shadow(0 0 15px 0 rgba(50, 50, 50, 1));
						@include transform(rotate(45deg));
						line {
							stroke-width: 4;
							stroke: #00827a;
							fill: none;
							stroke-dasharray: 200;
							@include transition(transform 0.6s ease-out);
						}
					}
					&:hover{
						svg{
							line {
								@include transform(translateX(-400px));
								&.top {
									@include transform(translateX(-400px));
								}
								&.bottom {
									@include transform(translateX(400px));
								}
								&.left {
									@include transform(translateY(400px));
								}
								&.right {
									@include transform(translateY(-400px));
								}
							}
						}
						img {
							@include transform(scale(1.1));

						}
					}
					img {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						@include transition(all 1s ease);
					}
				}
				&.cuda{
					> a{
						svg {
							background: #87509c;
							line {
								stroke: #00b5aa;
							}
						}
					}
				}
				&.brandmaster{
					img {
						@include size(120px, auto);
					}
				}
				&.adminPanel{
					img {
						@include size(100px);
					}
				}
			}
		}
		.works {
			height: 200px;
			position: relative;
			text-align: center;
			background: rgba(0, 105, 98, 0.7);
			&:before{
				content: '';
				@include size(50%, 0);
				position: absolute;
				left: 0;
				border-top: 200px solid transparent;
				border-left: 585px solid $body-bg;
				z-index: 1;
			}
			&:after{
				content: '';
				@include size(50%, 0);
				position: absolute;
				right: 0;
				border-top: 200px solid transparent;
				border-right: 585px solid $body-bg;
				z-index: 1;
			}
			img {
				@include size(100px);
				position: absolute;
				left: calc(50% - 100px);
				display: inline-block;
				margin: 50px;
				z-index: 200;
			}
		}
		.examples {
			padding-top: 50px;
			.iphone {
				margin-top: -40%;
			}
			figcaption {
				margin: 0 auto;
				width: 95%;
				max-width: 40em;
				text-align: center;
				h2 {
					font-weight: 300;
					font-size: 3em;
					margin-bottom: 0.2em;
				}
				p {
					font-size: 1.3em;
				}
			}
			figure{
				&:first-child{
					figcaption {
						margin-top: 8em;
					}
				}
			}
			.drawings {
				display: none;
				position: relative;
				height: 280px;
			}
			.illustration {
				position: absolute;
				top: 50%;
				left: 50%;
				max-height: 100%;
				max-width: 100%;
				opacity: 0;
				@include transform(translateX(-50%) translateY(-50%));
			}
			.show {
				opacity: 1;
			}
			.hide {
				opacity: 0;
			}
			.line-drawing,
			.illustration {
				@include transition(opacity 0.5s);
			}
			.line-drawing{
				path {
					fill: none;
					stroke: #006962;
					stroke-width: 3;
					&.line-round {
						stroke-linecap: round;
					}
					&.stroke-medium {
						stroke-width: 2;
					}
					&.stroke-thin {
						stroke-width: 1;
					}
				}
			}
		}
		footer{
			padding-bottom: 50px;
		}
	}
}
#modals{
	position: relative;
	.modal-background{
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2000;
		background: rgba(0, 105, 98, 0.5);

	}
	#feedbackModal{
		height: auto;
		display: none;
		position: fixed;
		top: 20%;
		z-index: 3000;
		p{
			&:first-child{
				width: 100%;
				display: block;
				margin: 0;
				padding: 15px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				font-weight: 800;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				background: rgb(0, 105, 98);
				color: #fff;
			}
			&:nth-child(2){
				width: 100%;
				display: block;
				margin: 0;
				padding: 25px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				background: #00b5aa;
				color: #fff;
			}
		}
		button{
			position: absolute;
			right: 30px;
			top: 13px;
			border: 0;
			font-size: 0;
			background: transparent;
			color: #fff;
			&:before{
				font-size: 20px;
			}
			&:hover, &:focus{
				text-decoration: none;
			}
		}
	}
}

// Media //
@include media("<=phone") {
	#wrapper{
		.menu-button{
			margin: 5px;
		}
		#main{
			.main-title{
				h1{
					font-size: 2em;
				}
				p{
					font-size: 1em;
				}
			}
			.portfolioInner{
				&.container{
					.innerText{
						height: auto;
						text-align: center;
					}
				}
				.innerText{
					h3{
						margin-bottom: 10px;
					}
				}
			}
			.works {
				@include size(320px, 90px);
				left: calc(50% - 160px);
				&:before{
					border-top: 90px solid transparent;
					border-left: 160px solid $body-bg;
				}
				&:after{
					border-top: 90px solid transparent;
					border-right: 160px solid $body-bg;
				}
				img{
					@include size(70px);
					left: calc(50% - 35px);
					margin: 10px 0;
				}
			}
			#about{
				.row{
					>div{
						&:first-child{
							text-align: center;
						}
					}
				}
				.about{
					padding-top: 50px;
					h1, h3{
						text-align: center;
					}
				}
				.navigation{
					right: calc(50% - 40px);
					top: 160px;
					&.navigation--open{
						.navigation__items{
							li{
								&:first-child {
									@include transform(scale3d(1, 1, 1) translate3d(-50px, 100px, 0));
								}
								&:nth-child(2) {
									@include transform(scale3d(1, 1, 1) translate3d(10px, 100px, 0));
								}
								&:nth-child(3) {
									@include transform(scale3d(1, 1, 1) translate3d(70px, 100px, 0));
								}
							}
						}
					}
				}
				.p-btn{
					margin-left: calc(50% - 75px);
				}
			}
			#contacts{
				h1{
					font-size: 2em;
					text-align: center;
				}
				p{
					font-size: 1em;
				}
				.req{
					&:nth-child(3){
						margin-bottom: 5px;
					}
				}
				.form-error{
					margin: 5px;
					padding: 0;
					font-size: 1em;
					text-align: justify;
				}
				input[type=submit]{
					float: none;
					margin: 0 auto 30px auto;
				}
				.location{
					display: block;
					text-align: center;
					span{
						text-align: left;
					}
				}
				.social{
					display: block;
					float: none;
					padding: 10px;
					text-align: center;
					li{
						a{

						}
					}
				}
			}
		}
	}
}
@include media(">phone","<=tablet") {
	#wrapper{
		.menu-button{
			margin: 5px;
		}
		#main{
			.main-title{
				h1{
					font-size: 3em;
				}
				p{
					font-size: 1.5em;
				}
			}
			.portfolioInner{
				&.container{
					.innerText{
						height: auto;
						text-align: center;
					}
				}
				.innerText{
					h3{
						margin-bottom: 10px;
					}
				}
			}
			.works {
				@include size(480px, 120px);
				left: calc(50% - 240px);
				&:before{
					border-top: 120px solid transparent;
					border-left: 240px solid $body-bg;
				}
				&:after{
					border-top: 120px solid transparent;
					border-right: 240px solid $body-bg;
				}
				img{
					@include size(70px);
					left: calc(50% - 35px);
					margin: 25px 0;
				}
			}
			#about{
				.row{
					>div{
						&:first-child{
							text-align: center;
						}
					}
				}
				.about{
					padding-top: 50px;
					h1, h3{
						text-align: center;
					}
				}
				.navigation{
					right: calc(50% - 40px);
					top: 160px;
					&.navigation--open{
						.navigation__items{
							li{
								&:first-child {
									@include transform(scale3d(1, 1, 1) translate3d(-160px, 0, 0));
								}
								&:nth-child(2) {
									@include transform(scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0));

								}
								&:nth-child(3) {
									@include transform(scale3d(1, 1, 1) translate3d(0, 160px, 0));

								}
								&:nth-child(4) {
									@include transform(scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0));

								}
								&:nth-child(5) {
									@include transform(scale3d(1, 1, 1) translate3d(160px, 0, 0));

								}
							}
						}
					}
				}
				.p-btn{
					margin-left: calc(50% - 75px);
				}
			}
			#contacts{
				h1{
					font-size: 2em;
				}
				p{
					font-size: 1em;
				}
				.req{
					&:nth-child(3){
						margin-bottom: 5px;
					}
				}
				.form-error{
					margin: 5px;
					padding: 0;
					font-size: 1em;
					text-align: justify;
				}
				input[type=submit]{
					float: none;
					margin: 0 auto 30px auto;
				}
			}
		}
	}
}
@include media(">tablet","<=desktop") {
	#wrapper{
		#main{
			.portfolioInner{
				&.container{
					.innerText{
						height: auto;
						text-align: center;
					}
				}
				.innerText{
					h3{
						margin-bottom: 10px;
					}
				}
			}
			.works {
				&:before{
					border-left: 375px solid $body-bg;
				}
				&:after{
					border-right: 375px solid $body-bg;
				}
			}
			#about{
				.row{
					>div{
						&:first-child{
							text-align: center;
						}
					}
				}
				.about{
					padding-top: 25px;
					h1, h3{
						text-align: center;
					}
				}
				.navigation{
					right: calc(50% - 120px);
				}
				.p-btn{
					margin-left: calc(50% - 75px);
				}
			}
			#contacts{
				h1{
					font-size: 2em;
				}
				p{
					font-size: 1em;
				}
				.req{
					&:nth-child(3){
						margin-bottom: 5px;
					}
				}
				.form-error{
					margin: 5px;
					padding: 0;
					font-size: 1em;
					text-align: justify;
				}
				input[type=submit]{
					float: none;
					margin: 0 auto 30px auto;
				}
			}
		}
	}

}
@include media(">desktop","<=widescreen") {
	#wrapper{
		#main{
			.works {
				&:before{
					border-left: 485px solid $body-bg;
				}
				&:after{
					border-right: 485px solid $body-bg;
				}
			}
			#contacts{
				.form-error{
					padding: 0;
				}
			}
		}
	}
}
@include media("print"){
	#wrapper{
		#header,
		#dots-canvas,
		.menu-button{
			display: none;
		}
		#main{
			.portfolioInner{ 
				padding: 20px 0;
				.innerText{
					width: 50%;
					h1{
						margin: 0;
					}
				}
				.innerImage{
					width: 50%;
					svg{
						line{
							display: none;
						}
					}
					&.cuda{
						>a{
							img{
								background: #000;
							}
						}
					}
				}
			}
			#about{
				.navigation{
					display: none;
				}
				.row{
					>div{
						&:first-child{
							float: left;
							width: 200px;
						}
						&:nth-child(2){
							float: none;
							width: 100%;
							div{
								margin: 0;
								padding: 0;
								h1, h3{
									margin: 0 10px;
									text-align: left;
								}
								h3{
									margin: 10px;
								}
							}
						}
					}
				}
				.more{
					display: block;
				}
				.expand{
					display: none;
				}
				#skills{
					.skillsInner{
						width: 50%;
						display: inline-block;
						margin: 0;
						ul{
							width: 50%;
						}
					}
				}
			}
			#contacts{
				.location{
					display: inline-block;
					&:before{
						content: 'Location:';
						display: inline-block;
					}
				}
				#feedback{
					display: none;
				}
				.social{
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
					li{
						display: block;
						a{
							text-align: right;
							width: 100%;
							height: auto;
							&:before{
								float: left;
								width: 50px;
							}
							&:after{
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}
// - Media //

// - General //
