$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@import url("font-awesome.min.css");

#wrapper {
	overflow: hidden;
	&.show-menu{
		#header {
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		#main{
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
			-webkit-transform: translate3d(100px,0,0);
			transform: translate3d(100px,0,0);
		}
	}
	&.show-feedback{
		-webkit-perspective: 500px;
		-moz-perspective: 500px;
		perspective: 500px;
		#feedbackModal{
			display: block;
		}
		.modal-background{
			display: block;
		}
		#main,
		.modal-background{
			transform-style: preserve-3d;
			transform-origin: 50% 100%;
			animation: open-modal-top 0.5s forwards ease-in;
		}

	}
	#header {
		position: fixed;
		z-index: 1001;
		width: 300px;
		top: 0;
		bottom: 0;
		font-size: 1.15em;
		-webkit-transform: translate3d(-300px,0,0);
		transform: translate3d(-300px,0,0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		.menu {
			background: rgba(55, 58, 71, 1);
			width: calc(100% - 120px);
			height: 100%;
			padding: 2em 1em;
			.icon-list {
				width: 280px;
				a {
					outline: none;
					display: block;
					padding: 0.8em;
					font-size: 1.2em;
					color: #006962;
					&:hover{
						text-decoration: none;
						i{
							color: rgb(255, 174, 26);
						}
					}
					&.active{
						i{
							color: rgb(255, 174, 26);
						}

					}
					span {
						margin-left: 10px;
						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: 1px;
						font-size: 0.75em;
					}
				}
			}

		}
		.morph-shape {
			position: absolute;
			width: 120px;
			height: 100%;
			top: 0;
			right: 0;
			fill: #373a47;
			z-index: 1000;
		}
		.close-button {
			width: 16px;
			height: 16px;
			position: absolute;
			right: 1em;
			top: 1em;
			overflow: hidden;
			text-indent: 16px;
			border: none;
			z-index: 1001;
			background: transparent;
			color: transparent;
			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				top: 0;
				left: 50%;
				background: #95a5a6;
			}
			&:before {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
	.menu-button {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		margin: 1em;
		padding: 0;
		width: 2.5em;
		height: 2.25em;
		border: none;
		text-indent: 2.5em;
		font-size: 1.5em;
		color: transparent;
		background: transparent;
		&:before {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			bottom: 0.5em;
			left: 0.5em;
			background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
			content: '';

		&:hover {
			opacity: 0.6;
		}
		}
	}
	#dots-canvas {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	#main {
		position: relative;
		width: 100%;
		min-height: 100vh;
		z-index: 1;
		@include transition(transform 0.3s);
		ul {
			list-style-type: none;
			padding: 0;
		}
		#about {
			padding: 50px 15px;
			img {
				z-index: 100;
			}
			.row{
				div{
					&:first-child{
						margin-bottom: 60px;
					}
				}
			}
			.navigation {
				position: absolute;
				display: inline-block;
				@include user-select(none);
				cursor: pointer;
				right: -5px;
				top: 140px;
				z-index: 2000;
				.trigger {
					background: none;
					width: 80px;
					height: 80px;
					padding: 0;
					margin: 0;
					border: none;
					outline: none;
					text-align: center;
					font-size: 1.5em;
					color: #333333;
					position: relative;
					z-index: 2000;
					-webkit-tap-highlight-color: transparent;
					span {
						opacity: 0;
						position: absolute;
					}
				}
				.navigation__items {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					padding: 0;
					margin: 0;
					list-style-type: none;
					text-align: center;
					li {
						width: 60%;
						height: 60%;
						top: 10%;
						left: 10%;
						line-height: 48px;
						font-size: 2em;
						position: absolute;
						@include transform-origin(50% 50%);
						@include transform(scale3d(0.5, 0.5, 1));
						@include transition(transform 0.25s ease-out);
						a {
							display: block;
							background: #333333;
							color: #006962;
							border-radius: 50%;
							outline: none;
							overflow: hidden;
							-webkit-tap-highlight-color: transparent;
							&:hover,
							&:focus {
								background: #333333;
								color: #00b5aa;
							}
							span {
								position: absolute;
								color: transparent;
								top: 100%;
								pointer-events: none;
							}
						}
					}
				}
				&.navigation--open{
					.navigation__items{
						li{
							&:first-child {
								@include transform(scale3d(1, 1, 1) translate3d(-113.14px, 113.14px, 0));
							}
							&:nth-child(2) {
								@include transform(scale3d(1, 1, 1) translate3d(0, 160px, 0));
							}
							&:nth-child(3) {
								@include transform(scale3d(1, 1, 1) translate3d(113.14px, 113.14px, 0));
							}
							&:nth-child(4) {
								@include transform(scale3d(1, 1, 1) translate3d(160px, 0, 0));
							}
							&:nth-child(5) {
								@include transform(scale3d(1, 1, 1) translate3d(113.14px, -113.14px, 0));
							}
						}
					}
				}
				.morph {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 100;
					svg{
						path {
							fill: #00b5aa;
							@include transition(fill 0.3s);
						}
					}
				}
				.navigation--open{
					.morph{
						svg{
							path {
								fill: #777;
							}
						}
					}
				}
			}
		}
		#skills {
			padding: 50px 15px;
			.skillsInner {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
		#contacts{
			h1{
				font-size: 3em;
				letter-spacing: 0.5em;
				text-transform: uppercase;
				margin-top: 50px;
				margin-bottom: 25px;
				color: #006962;
			}
			p{
				font-size: 1.5em;
				letter-spacing: 0.1em;
				color: #777777;
				margin-bottom: 25px;
			}
			input{
				border: 0;
				display: block;
				width: 100%;
				margin-bottom: 25px;
			}
			input[type=text]{
				&:first-child{
					text-transform: capitalize;
				}
			}
			input[type=text],
			input[type=email]{
				font-size: 1.5em;
				letter-spacing: 0.1em;
				color: #777777;
				line-height: 2em;
				background: transparent;
				border: 0;
				border-bottom: 2px solid #006962;
				@include transition(border-bottom 1s ease-out);
				&.error{
					border-bottom-color: #ff0000;
				}
			}
			input[type=submit]{
				width: auto;
				float: right;
				margin: 25px 0;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.3em;
			}
			.form-error{
				float: left;
				opacity: 0;
				font-size: 1.25em;
				padding: 10px 30px;
				margin: 25px 0;
				color: #ff0000;
				@include transition(all 1s ease-out);
			}
		}
		.main-title {
			position: absolute;
			margin: 0;
			padding: 0;
			text-align: center;
			top: 50%;
			left: 50%;
			@include transform(translate3d(-50%, -50%, 0));
			h1 {
				font-size: 4.2em;
				letter-spacing: 0.1em;
				color: #006962;
				text-transform: uppercase;
				text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
			}
			p {
				font-size: 2em;
				letter-spacing: 0.1em;
				color: #777777;
				text-transform: uppercase;
				text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
			}
			.thin {
				font-weight: 200;
			}
		}
		.portfolioInner {
			text-align: center;
			padding: 10% 0;
			&:nth-child(even){
				.innerText {
					text-align: left;
				}
			}
			&:nth-child(odd){
				.innerText {
					text-align: right;
				}
			}
			.innerText{
				height: 200px;
				a {
					outline: none;
					&:hover {
						text-decoration: none;
					}
				}
				h1{
					line-height: 50px;
					margin: 50px 0 0 0;
					a {
						color: #00b5aa;
					}
				}
				h3 {
					line-height: 50px;
					margin: 0 0 50px 0;
					color: #777777;
				}
			}
			.innerImage{
				> a {
					display: block;
					width: 200px;
					height: 200px;
					position: relative;
					margin: 0 auto;
					text-decoration: none;
					outline: none;
					svg {
						position: absolute;
						top: 0;
						left: 0;
						@include box-shadow(0 0 15px 0 rgba(50, 50, 50, 1));
						@include transform(rotate(45deg));
						line {
							stroke-width: 4;
							stroke: #00827a;
							fill: none;
							stroke-dasharray: 200;
							@include transition(transform 0.6s ease-out);
						}
					}
					&:hover{
						svg{
							line {
								@include transform(translateX(-400px));
								&.top {
									@include transform(translateX(-400px));
								}
								&.bottom {
									@include transform(translateX(400px));
								}
								&.left {
									@include transform(translateY(400px));
								}
								&.right {
									@include transform(translateY(-400px));
								}
							}
						}
						img {
							@include transform(scale(1.1));

						}
					}
					img {
						position: absolute;
						margin: auto;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						@include transition(all 1s ease);
					}
				}
				&.cuda{
					> a{
						svg {
							background: #87509c;
							line {
								stroke: #00b5aa;
							}
						}
					}
				}
				&.brandmaster{
					img {
						width: 120px;
						height: auto;
					}
				}
				&.adminPanel{
					img {
						width: 100px;
						height: 100px;
					}
				}
			}
		}
		.container{
			&:first-child{
				min-height: 200px;
			}
		}
		.works {
			height: 200px;
			text-align: center;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				width: 0;
				height: 0;
				border-bottom: 200px solid transparent;
				border-right: 585px solid rgba(0, 105, 98, 0.7);
				z-index: 1;
			}
			&:after{
				content: '';
				position: absolute;
				right: 0;
				width: 0;
				height: 0;
				border-bottom: 200px solid transparent;
				border-left: 585px solid rgba(0, 105, 98, 0.7);
				z-index: 1;
			}
			img {
				position: absolute;
				display: inline-block;
				left: calc(50% - 100px);
				width: 100px;
				height: 100px;
				margin: 50px;
				z-index: 200;
			}
		}
		.examples {
			padding-top: 50px;
			.iphone {
				margin-top: -200px;
			}
			figcaption {
				margin: 0 auto 0 auto;
				max-width: 40em;
				width: 95%;
				text-align: center;
				h2 {
					font-weight: 300;
					font-size: 3em;
					margin-bottom: 0.2em;
				}
				p {
					font-size: 1.3em;
				}
			}
			figure{
				&:first-child{
					figcaption {
						margin-top: 8em;
					}
				}
			}
			.drawings {
				position: relative;
				display: none;
				max-height: 600px;
			}
			.illustration {
				position: absolute;
				top: 50%;
				left: 50%;
				max-height: 100%;
				max-width: 100%;
				opacity: 0;
				@include transform(translateX(-50%) translateY(-50%));
			}
			.show {
				opacity: 1;
			}
			.hide {
				opacity: 0;
			}
			.line-drawing,
			.illustration {
				@include transition(opacity 0.5s);
			}
			.line-drawing{
				path {
					fill: none;
					stroke: #006962;
					stroke-width: 3;
					&.line-round {
						stroke-linecap: round;
					}
					&.stroke-medium {
						stroke-width: 2;
					}
					&.stroke-thin {
						stroke-width: 1;
					}
				}
			}
		}

	}
}
#modals{
	position: relative;
	.modal-background{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2000;
		display: none;
		background: rgba(0, 105, 98, 0.5);

	}
	#feedbackModal{
		position: fixed;
		top: 20%;
		height: auto;
		z-index: 3000;
		display: none;
		p{
			&:first-child{
				width: 100%;
				display: block;
				padding: 15px;
				background: rgb(0, 105, 98);
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				color: #fff;
				font-weight: 800;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				margin: 0;
			}
			&:nth-child(2){
				width: 100%;
				display: block;
				padding: 25px;
				background: #00b5aa;
				margin: 0;
				color: #fff;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
		button{
			position: absolute;
			right: 30px;
			top: 13px;
			color: #fff;
			background: transparent;
			border: 0;
			font-size: 0;
			&:before{
				font-size: 20px;
			}
			&:hover, &:focus{
				text-decoration: none;
			}
		}
	}
}
.more {
	display: none;
}

//Animation classes//
.fade-in{
	opacity: 0;
	animation: fade-in 1s cubic-bezier(.55,.3,.24,.99) forwards;
}
.fade-in-center-left{
	transform: translateX(-50%);
	animation: fade-in-center-left 1s cubic-bezier(.55,.3,.24,.99) forwards;
}
.fade-in-center-right{
	transform: translateX(50%);
	animation: fade-in-center-right 1s cubic-bezier(.55,.3,.24,.99) forwards;
}
.fade-in-top{
	transform: translateY(9999px);
	animation: fade-in-top 1s cubic-bezier(.55,.3,.24,.99) forwards;
}
.fade-in-bottom{
	opacity: 0;
	transform: translateY(-100px);
	animation: fade-in-bottom 1s cubic-bezier(.55,.3,.24,.99) forwards;
}
.fade-in-left{
	transform: translateX(-9999px);
	animation: fade-in-left 1s cubic-bezier(.55,.3,.24,.99) forwards;
}
.fade-in-right{
	transform: translateX(9999px);
	animation: fade-in-right 1s cubic-bezier(.55,.3,.24,.99) forwards;
}

.delay-1{animation-delay: 0.1s;}
.delay-2{animation-delay: 0.2s;}
.delay-3{animation-delay: 0.3s;}
.delay-4{animation-delay: 0.4s;}
.delay-5{animation-delay: 0.5s;}
.delay-6{animation-delay: 0.6s;}
.delay-7{animation-delay: 0.7s;}
.delay-8{animation-delay: 0.8s;}
.delay-9{animation-delay: 0.9s;}
.delay-10{animation-delay: 1s;}
.delay-11{animation-delay: 1.1s;}
.delay-12{animation-delay: 1.2s;}
.delay-13{animation-delay: 1.3s;}
.delay-14{animation-delay: 1.4s;}
.delay-15{animation-delay: 1.5s;}

@keyframes fade-in {
	from{
		transform: scale(0);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes fade-in-left {
	from{
		transform: translateX(-9999px);
	}
	to{
		transform: translateX(0px);
	}
}
@keyframes fade-in-right {
	from{
		transform: translateX(9999px);
	}
	to{
		transform: translateX(0px);
	}
}
@keyframes fade-in-top {
	from{
		transform: translateY(9999px);
	}
	to{
		transform: translateY(0px);
	}
}
@keyframes fade-in-bottom {
	from{
		transform: translateY(-100px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes show {
	from{
		margin-top: -300px;
	}
	to{
		margin-top: 0;
	}
}
@keyframes fade-in-center-left {
	from{
		transform: translateX(50%);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fade-in-center-right {
	from{
		transform: translateX(-50%);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes open-modal-top {
	50% {
		transform: rotateX(5deg);
		animation-timing-function: ease-out;
	}
}

//-Animation classes//